{
  "openapi": "3.1.0",
  "info": {
    "title": "SocialArt Ajans Hepsi Bir Arada AI Asistanı",
    "description": "SocialArt Ajans Yönetim Paneli, CRM, Kariyer/UGC Başvuru Havuzu, Finans ve Operasyon Analitiği için OpenAI ChatGPT Action API Entegrasyonu",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://www.socialartmedya.com",
      "description": "Canlı Yayın Sunucusu"
    }
  ],
  "paths": {
    "/api/gpt/ops/leads": {
      "get": {
        "summary": "CRM'deki Tüm Aktif Müşteri Adaylarını Getir (/crm)",
        "operationId": "getAgencyLeads",
        "responses": { "200": { "description": "Müşteri adayları listesi" } }
      }
    },
    "/api/gpt/ops/create-lead": {
      "post": {
        "summary": "Yeni CRM Müşteri Adayı Ekle",
        "operationId": "createNewLead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string" },
                  "contactName": { "type": "string" },
                  "phone": { "type": "string" },
                  "email": { "type": "string" },
                  "budget": { "type": "number" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Müşteri adayı oluşturuldu" } }
      }
    },
    "/api/gpt/ops/lead-history": {
      "get": {
        "summary": "Müşteri Geçmişini Görüntüle",
        "operationId": "getLeadHistory",
        "parameters": [{ "name": "lead_id", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Müşteri geçmişi" } }
      }
    },
    "/api/gpt/ops/lead-note": {
      "post": {
        "summary": "Müşteriye Not Ekle",
        "operationId": "addLeadNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["lead_id", "note"],
                "properties": { "lead_id": { "type": "string" }, "note": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Not eklendi" } }
      }
    },
    "/api/gpt/ops/create-job-application": {
      "post": {
        "summary": "Yeni Kariyer / İş Başvurusu Ekle",
        "operationId": "createJobApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["full_name"],
                "properties": { "full_name": { "type": "string" }, "position": { "type": "string" }, "email": { "type": "string" }, "about": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "İş başvurusu eklendi" } }
      }
    },
    "/api/gpt/ops/create-ugc-application": {
      "post": {
        "summary": "Yeni UGC & Influencer Başvurusu Ekle",
        "operationId": "createUgcApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["full_name"],
                "properties": { "full_name": { "type": "string" }, "email": { "type": "string" }, "instagram_url": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "UGC başvurusu eklendi" } }
      }
    },
    "/api/gpt/ops/update-application": {
      "post": {
        "summary": "Aday Başvuru Durumunu Güncelle",
        "operationId": "updateApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": { "id": { "type": "string" }, "status": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Başvuru güncellendi" } }
      }
    },
    "/api/gpt/ops/delete-application": {
      "post": {
        "summary": "Başvuruyu Sil",
        "operationId": "deleteApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": { "id": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Başvuru silindi" } }
      }
    },
    "/api/gpt/ops/calendar": {
      "get": {
        "summary": "Takvimi Görüntüle",
        "operationId": "getCalendarEvents",
        "responses": { "200": { "description": "Takvim etkinlikleri" } }
      },
      "post": {
        "summary": "Takvime Etkinlik Ekle",
        "operationId": "addCalendarEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": { "title": { "type": "string" }, "date": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Etkinlik eklendi" } }
      }
    },
    "/api/gpt/ops/tasks": {
      "get": {
        "summary": "Mevcut Görevleri Görüntüle",
        "operationId": "getAgencyTasks",
        "responses": { "200": { "description": "Görev listesi" } }
      },
      "post": {
        "summary": "Personele Görev Ata",
        "operationId": "assignAgencyTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": { "assignee": { "type": "string" }, "title": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Görev atandı" } }
      }
    },
    "/api/gpt/ops/todo": {
      "post": {
        "summary": "Kişisel To-Do Ekle",
        "operationId": "addPersonalTodo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": { "employee": { "type": "string" }, "title": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "To-Do eklendi" } }
      }
    },
    "/api/gpt/ops/staff-kpi": {
      "get": {
        "summary": "Personel KPI Raporu",
        "operationId": "getStaffKpi",
        "responses": { "200": { "description": "Personel KPI" } }
      }
    },
    "/api/gpt/ops/health": {
      "get": {
        "summary": "Operasyon Sağlık Skoru",
        "operationId": "getOpsHealth",
        "responses": { "200": { "description": "Operasyon sağlığı" } }
      }
    },
    "/api/gpt/finance/summary": {
      "get": {
        "summary": "Finans Özet Tablosu",
        "operationId": "getFinanceSummary",
        "responses": { "200": { "description": "Finans özeti" } }
      }
    },
    "/api/gpt/finance/payments": {
      "get": {
        "summary": "Aktif Sözleşmeler ve Tahsilatlar",
        "operationId": "getFinancePayments",
        "responses": { "200": { "description": "Ödemeler" } }
      }
    },
    "/api/gpt/finance/payment-request": {
      "post": {
        "summary": "%20 KDV Dahil Ödeme Talebi Oluştur",
        "operationId": "createPaymentRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["client_name", "amount"],
                "properties": { "client_name": { "type": "string" }, "amount": { "type": "number" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Ödeme talebi oluşturuldu" } }
      }
    },
    "/api/gpt/finance/expenses": {
      "get": {
        "summary": "Ajans Giderleri Dökümü",
        "operationId": "getFinanceExpenses",
        "responses": { "200": { "description": "Gider dökümü" } }
      }
    },
    "/api/gpt/finance/credit-cards": {
      "get": {
        "summary": "Kredi Kartı Borçları ve Limitler",
        "operationId": "getCreditCards",
        "responses": { "200": { "description": "Kredi kartları" } }
      }
    },
    "/api/gpt/finance/salaries": {
      "get": {
        "summary": "Personel Maaş Yükü",
        "operationId": "getSalaries",
        "responses": { "200": { "description": "Maaş dökümü" } }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer socialart-gpt-key-2026"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
