{
  "openapi": "3.0.0",
  "info": {
    "title": "Socialart Medya Ajans GPT Entegrasyonu",
    "description": "ChatGPT Custom GPT üzerinden Socialart Ajans CRM potansiyel müşterilerini analiz etme, not/güncelleme ekleme, takvime çekim/etkinlik planlama, iyzico 3D Secure ödeme talebi oluşturma, tek tıkla WhatsApp mesaj linki hazırlama ve ajans icra raporu alma servisi.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://socialartmedya.com",
      "description": "Canlı Socialart Ajans Sunucusu"
    }
  ],
  "paths": {
    "/api/gpt/leads": {
      "get": {
        "summary": "CRM Potansiyel Müşterilerini (Leads) Getir ve Analiz Et",
        "description": "CRM veritabanındaki tüm aktif potansiyel müşterileri, aşamalarını (stage), atanan temsilcileri ve güncel durumlarını getirir. ChatGPT bu veriyi analiz ederek özet çıkarabilir.",
        "operationId": "getAgencyLeads",
        "responses": {
          "200": { "description": "Müşteri potansiyelleri ve aşama istatistikleri başarıyla döndü." }
        }
      }
    },
    "/api/gpt/lead-note": {
      "post": {
        "summary": "Müşteriye Not / Aşaması / Güncelleme Ekle",
        "description": "Müşterinin telefon görüşmesi, teklif durumu veya süreci hakkında not/güncelleme ekler. EĞER MÜŞTERİ ADI BELİRTİLMEDİYSE VEYA BİRDEN FAZLA EŞLEŞEN MÜŞTERİ VARSA CHATGPT KULLANICIYA HANGİ MÜŞTERİ OLDUĞUNU SORMAK ZORUNDADIR.",
        "operationId": "addLeadNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note"],
                "properties": {
                  "lead_name": {
                    "type": "string",
                    "description": "Not eklenecek müşterinin adı veya firma adı. (Örn: 'Murat', 'Durnas PDR').",
                    "example": "Murat"
                  },
                  "lead_id": {
                    "type": "string",
                    "description": "Opsiyonel. Doğrudan müşteri ID'si."
                  },
                  "note": {
                    "type": "string",
                    "description": "Müşteri hakkındaki not, telefon görüşmesi özeti veya güncelleme metni. (ZORUNLU)",
                    "example": "Telefonu açmadı, yarın saat 14:00'da tekrar aranacak."
                  },
                  "stage": {
                    "type": "string",
                    "description": "Güncellenecek aşama (NEW, CONTACTED, WAITING, PROPOSAL_SENT, RETARGETING, WON, LOST)",
                    "example": "CONTACTED"
                  },
                  "status": {
                    "type": "string",
                    "description": "Güncellenecek durum metni (Örn: 'Sıcak', 'Görüşme Yapıldı', 'Teklif İletildi')",
                    "example": "Görüşme Yapıldı"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Not eklendi veya birden fazla müşteri eşleştiğinde liste döndü." }
        }
      }
    },
    "/api/gpt/payment-request": {
      "post": {
        "summary": "Müşteriye Tek Tıkla 3D Secure Ödeme Talebi Oluştur",
        "description": "Celal abi veya ajans yöneticisi talimat verdiğinde (Örn: MioCasa markasına 25.000 TL hizmet ödeme talebi oluştur), Müşteri Portalında ve iyzico altyapısında +%20 KDV dahil ödeme talebini anında oluşturur ve ödeme linkini döner.",
        "operationId": "createPaymentRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["client_name", "title", "amount"],
                "properties": {
                  "client_name": {
                    "type": "string",
                    "description": "Müşteri / Marka adı (ZORUNLU). Örn: 'MioCasa', 'Mall Of Gurme'",
                    "example": "MioCasa"
                  },
                  "company_code": {
                    "type": "string",
                    "description": "Müşterinin panel giriş kodu. Boşsa client_name üzerinden türetilir.",
                    "example": "miocasa"
                  },
                  "title": {
                    "type": "string",
                    "description": "Ödeme başlığı (ZORUNLU). Örn: 'Ağustos Ayı Sosyal Medya Hizmeti'",
                    "example": "Ağustos Ayı Sosyal Medya Hizmeti"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Ham ödeme tutarı TL (ZORUNLU). Sisteme eklenirken +%20 KDV otomatik hesaplanır.",
                    "example": 25000
                  },
                  "description": {
                    "type": "string",
                    "description": "Ödeme açıklaması veya hizmet detayları",
                    "example": "Ağustos ayı prodüksiyon ve sosyal medya içerik yönetimi kalemi."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Ödeme talebi oluşturuldu ve checkout bağlantısı döndü." }
        }
      }
    },
    "/api/gpt/whatsapp-link": {
      "post": {
        "summary": "Müşteriye Tek Tıkla Gönderilebilir WhatsApp Mesaj Linki Oluştur",
        "description": "Müşteri adı ve gönderilecek mesaj yazıldığında sistem rehberden telefon numarasını bulur ve tek tıkla wa.me mesaj linkini oluşturur.",
        "operationId": "generateWhatsAppLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message_text"],
                "properties": {
                  "lead_name": {
                    "type": "string",
                    "description": "Müşteri adı (Rehberden telefon çekilmesi için). Örn: 'Murat'",
                    "example": "Murat"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Opsiyonel. Telefon numarası verildiyse doğrudan kullanılır.",
                    "example": "05321234567"
                  },
                  "message_text": {
                    "type": "string",
                    "description": "Müşteriye gönderilecek sıcak, dönüşüm odaklı mesaj metni (ZORUNLU).",
                    "example": "Merhabalar Murat Bey, görüşmemize istinaden 150.000 TL tutarındaki prodüksiyon teklifimiz hazırlanmıştır. İyi çalışmalar dileriz!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "WhatsApp wa.me linki oluşturuldu." }
        }
      }
    },
    "/api/gpt/reports": {
      "get": {
        "summary": "Haftalık / Aylık Ajans İcra Raporunu Getir",
        "description": "Ajansın tüm aktif markalarını, müşterilerini, CRM lead dönüşüm sayılarını, teklif bütçelerini, bekleyen ödemeleri ve satış temsilcilerinin iş yükünü raporlar.",
        "operationId": "getExecutiveReport",
        "responses": {
          "200": { "description": "İcra raporu ve istatistikleri başarıyla döndü." }
        }
      }
    },
    "/api/gpt/calendar": {
      "post": {
        "summary": "Takvime Çekim / Etkinlik / Toplantı Ekle",
        "description": "Ajans takvimine yeni bir video çekimi, müşteri toplantısı veya lansman etkinliği ekler. EĞER MARKA ADI, TARİH VEYA SAAT EKSİKSE CHATGPT İŞLEMİ YAPMADAN KULLANICIYA EKSİK BİLGİLERİ SORMAK ZORUNDADIR.",
        "operationId": "addCalendarEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "brand_name", "date", "time"],
                "properties": {
                  "title": { "type": "string", "example": "Reel Çekimi" },
                  "brand_name": { "type": "string", "example": "MioCasa" },
                  "date": { "type": "string", "example": "12.08.2026" },
                  "time": { "type": "string", "example": "14:30" },
                  "location": { "type": "string", "example": "MioCasa Bahçeşehir Mağazası" },
                  "event_type": { "type": "string", "example": "Video Çekimi" },
                  "notes": { "type": "string", "example": "Işık ve 2 kameraman hazır bulunacak." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Takvime etkinlik eklendi." }
        }
      },
      "get": {
        "summary": "Takvim Etkinliklerini Getir",
        "description": "Ajansın yaklaşan çekimlerini ve toplantılarını listeler.",
        "operationId": "getCalendarEvents",
        "responses": {
          "200": { "description": "Etkinlikler getirildi." }
        }
      }
    },
    "/api/gpt/tasks": {
      "post": {
        "summary": "Ajans Personeline Yeni Görev Ata",
        "description": "Celal abi veya ajans yöneticisi ChatGPT üzerinden emir verdiğinde (Örn: Furkan'a görev ata: sunumları hallet, deadline: 12.08.2026), belirlenen personele otomatik görev oluşturur.",
        "operationId": "assignAgencyTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assignee", "title"],
                "properties": {
                  "assignee": { "type": "string", "example": "Furkan" },
                  "title": { "type": "string", "example": "Sunumları hallet" },
                  "description": { "type": "string", "example": "Ağustos ayı müşteri sunum dosyaları hazırlanacak." },
                  "due_date": { "type": "string", "example": "12.08.2026" },
                  "priority": { "type": "string", "example": "Yüksek" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Görev başarıyla eklendi." }
        }
      },
      "get": {
        "summary": "Aktif Görev Listesini Getir",
        "description": "Ajans personelinin üzerindeki tüm görevleri ve son durumlarını listeler.",
        "operationId": "getAgencyTasks",
        "responses": {
          "200": { "description": "Görevler başarıyla getirildi." }
        }
      }
    }
  }
}
