{
  "openapi": "3.1.0",
  "info": {
    "title": "Socialart Medya Ajans GPT Entegrasyonu",
    "description": "ChatGPT Custom GPT üzerinden Socialart Ajans CRM potansiyel müşterilerini analiz etme, yeni lead oluşturma, müşteri geçmiş notlarını sorgulama, not/güncelleme ekleme, takvime çekim/etkinlik planlama, iyzico 3D Secure ödeme talebi oluşturma, tek tıkla WhatsApp mesaj linki hazırlama ve ajans icra raporu alma servisi.",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://socialartmedya.com",
      "description": "Canlı Socialart Ajans Sunucusu"
    }
  ],
  "paths": {
    "/api/gpt/leads": {
      "get": {
        "summary": "CRM Potansiyel Müşterilerini (Leads) Getir ve Analiz Et",
        "description": "CRM veritabanındaki tüm aktif potansiyel müşterileri, aşamalarını (stage), atanan temsilcileri ve güncel durumlarını getirir. ChatGPT bu veriyi analiz ederek özet çıkarabilir.",
        "operationId": "getAgencyLeads",
        "responses": {
          "200": { "description": "Müşteri potansiyelleri ve aşama istatistikleri başarıyla döndü." }
        }
      }
    },
    "/api/gpt/create-lead": {
      "post": {
        "summary": "CRM'e Yeni Potansiyel Müşteri (Lead) Ekle",
        "description": "ChatGPT üzerinden yeni bir müşteri adayı oluşturur. Müşteri adı (name), telefon (phone) ve ilgili hizmet (service) zorunludur. Eksik bilgi varsa ChatGPT kullanıcıya sormalıdır.",
        "operationId": "createNewLead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "phone", "service"],
                "properties": {
                  "name": { "type": "string", "description": "Müşteri Ad Soyad (ZORUNLU)", "example": "Ahmet Yılmaz" },
                  "phone": { "type": "string", "description": "Telefon Numarası (ZORUNLU)", "example": "05321234567" },
                  "company": { "type": "string", "description": "Firma Adı", "example": "Yılmaz Lojistik" },
                  "service": { "type": "string", "description": "İlgilendiği Hizmet (ZORUNLU)", "example": "Sosyal Medya Yönetimi" },
                  "budget": { "type": "number", "description": "Bütçe (TL)", "example": 45000 },
                  "rep": { "type": "string", "description": "Atanacak Temsilci (Furkan, Celal, Ercan, Simge, Tuğba)", "example": "Furkan" },
                  "city": { "type": "string", "description": "Şehir", "example": "İstanbul" },
                  "notes": { "type": "string", "description": "Müşteri görüşme notu veya detaylar", "example": "Ağustos ayı prodüksiyonu için aradı." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Yeni müşteri CRM'e eklendi." }
        }
      }
    },
    "/api/gpt/lead-history": {
      "get": {
        "summary": "Müşterinin Geçmiş Notlarını ve İletişim Geçmişini Getir",
        "description": "Müşteri adı veya ID'si ile sorgulama yaparak müşterinin tüm geçmiş notlarını, telefon/e-posta ve temsilci geçmişini listeler.",
        "operationId": "getLeadHistory",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Müşteri Adı (Örn: 'Emre Mirasyedi')",
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Opsiyonel. Müşteri ID'si",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Müşteri geçmiş notları döndü." }
        }
      }
    },
    "/api/gpt/lead-note": {
      "post": {
        "summary": "Müşteriye Not / Aşaması / Güncelleme Ekle",
        "description": "Müşterinin telefon görüşmesi, teklif durumu veya süreci hakkında not/güncelleme ekler. EĞER MÜŞTERİ ADI BELİRTİLMEDİYSE VEYA BİRDEN FAZLA EŞLEŞEN MÜŞTERİ VARSA CHATGPT KULLANICIYA HANGİ MÜŞTERİ OLDUĞUNU SORMAK ZORUNDADIR.",
        "operationId": "addLeadNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note"],
                "properties": {
                  "lead_name": { "type": "string", "description": "Not eklenecek müşterinin adı veya firma adı. (Örn: 'Murat', 'Emre Mirasyedi').", "example": "Emre Mirasyedi" },
                  "lead_id": { "type": "string", "description": "Opsiyonel. Doğrudan müşteri ID'si." },
                  "note": { "type": "string", "description": "Müşteri hakkındaki not, telefon görüşmesi özeti veya güncelleme metni. (ZORUNLU)", "example": "Olmadı" },
                  "stage": { "type": "string", "description": "Güncellenecek aşama (NEW, CONTACTED, WAITING, PROPOSAL_SENT, RETARGETING, WON, LOST)", "example": "LOST" },
                  "status": { "type": "string", "description": "Güncellenecek durum metni (Örn: 'Sıcak', 'Görüşme Yapıldı', 'Reddedildi')", "example": "Olmadı" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Not eklendi veya birden fazla müşteri eşleştiğinde liste döndü." }
        }
      }
    },
    "/api/gpt/payment-request": {
      "post": {
        "summary": "Müşteriye Tek Tıkla 3D Secure Ödeme Talebi Oluştur",
        "description": "Celal abi veya ajans yöneticisi talimat verdiğinde (Örn: MioCasa markasına 25.000 TL hizmet ödeme talebi oluştur), Müşteri Portalında ve iyzico altyapısında +%20 KDV dahil ödeme talebini anında oluşturur ve ödeme linkini döner.",
        "operationId": "createPaymentRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["client_name", "title", "amount"],
                "properties": {
                  "client_name": { "type": "string", "example": "MioCasa" },
                  "company_code": { "type": "string", "example": "miocasa" },
                  "title": { "type": "string", "example": "Ağustos Ayı Sosyal Medya Hizmeti" },
                  "amount": { "type": "number", "example": 25000 },
                  "description": { "type": "string", "example": "Ağustos ayı prodüksiyon ve sosyal medya içerik yönetimi kalemi." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Ödeme talebi oluşturuldu ve checkout bağlantısı döndü." }
        }
      }
    },
    "/api/gpt/whatsapp-link": {
      "post": {
        "summary": "Müşteriye Tek Tıkla Gönderilebilir WhatsApp Mesaj Linki Oluştur",
        "description": "Müşteri adı ve gönderilecek mesaj yazıldığında sistem rehberden telefon numarasını bulur ve tek tıkla wa.me mesaj linkini oluşturur.",
        "operationId": "generateWhatsAppLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message_text"],
                "properties": {
                  "lead_name": { "type": "string", "example": "Murat" },
                  "phone": { "type": "string", "example": "05321234567" },
                  "message_text": { "type": "string", "example": "Merhabalar Murat Bey, teklifimiz hazırlanmıştır." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "WhatsApp wa.me linki oluşturuldu." }
        }
      }
    },
    "/api/gpt/reports": {
      "get": {
        "summary": "Haftalık / Aylık Ajans İcra Raporunu Getir",
        "description": "Ajansın tüm aktif markalarını, müşterilerini, CRM lead dönüşüm sayılarını, teklif bütçelerini, bekleyen ödemeleri ve satış temsilcilerinin iş yükünü raporlar.",
        "operationId": "getExecutiveReport",
        "responses": {
          "200": { "description": "İcra raporu ve istatistikleri başarıyla döndü." }
        }
      }
    },
    "/api/gpt/calendar": {
      "post": {
        "summary": "Takvime Çekim / Etkinlik / Toplantı Ekle",
        "description": "Ajans takvimine yeni bir video çekimi, müşteri toplantısı veya lansman etkinliği ekler.",
        "operationId": "addCalendarEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "date", "time"],
                "properties": {
                  "title": { "type": "string", "example": "Wellness Çekimi" },
                  "brand_name": { "type": "string", "example": "Wellness" },
                  "date": { "type": "string", "example": "12.08.2026" },
                  "time": { "type": "string", "example": "14:30" },
                  "location": { "type": "string", "example": "MioCasa Bahçeşehir Mağazası" },
                  "event_type": { "type": "string", "example": "shoot" },
                  "notes": { "type": "string", "example": "Işık ve 2 kameraman hazır bulunacak." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Takvime etkinlik eklendi." }
        }
      },
      "get": {
        "summary": "Takvim Etkinliklerini Getir",
        "description": "Ajansın yaklaşan çekimlerini ve toplantılarını listeler.",
        "operationId": "getCalendarEvents",
        "responses": {
          "200": { "description": "Etkinlikler getirildi." }
        }
      }
    },
    "/api/gpt/tasks": {
      "post": {
        "summary": "Ajans Personeline Yeni Görev Ata",
        "description": "Celal abi veya ajans yöneticisi ChatGPT üzerinden emir verdiğinde (Örn: Furkan'a görev ata: sunumları hallet, deadline: 12.08.2026), belirlenen personele otomatik görev oluşturur.",
        "operationId": "assignAgencyTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assignee", "title"],
                "properties": {
                  "assignee": { "type": "string", "example": "Furkan" },
                  "title": { "type": "string", "example": "Sunumları hallet" },
                  "description": { "type": "string", "example": "Ağustos ayı müşteri sunum dosyaları hazırlanacak." },
                  "due_date": { "type": "string", "example": "12.08.2026" },
                  "priority": { "type": "string", "example": "Yüksek" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Görev başarıyla eklendi." }
        }
      },
      "get": {
        "summary": "Aktif Görev Listesini Getir",
        "description": "Ajans personelinin üzerindeki tüm görevleri ve son durumlarını listeler.",
        "operationId": "getAgencyTasks",
        "responses": {
          "200": { "description": "Görevler başarıyla getirildi." }
        }
      }
    },
    "/api/gpt/todo": {
      "post": {
        "summary": "Çalışanın Kişisel Yapılacaklar (To-Do List) Sayfasına Not/Görev Ekle",
        "description": "Celal, Furkan veya herhangi bir çalışan ChatGPT'ye 'Bugün to do listime X kişisi aranacak ekle' dediklerinde doğrudan o çalışanın kişisel Yapılacaklar sayfasına not/görev ekler.",
        "operationId": "addPersonalTodo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "employee": { "type": "string", "description": "Hangi çalışanın to-do listesine eklenecek (celal, furkan, ercan, tugba vb.). Varsayılan: celal", "example": "celal" },
                  "title": { "type": "string", "description": "Yapılacak iş / not başlığı (ZORUNLU)", "example": "Ahmet Bey aranacak" },
                  "notes": { "type": "string", "description": "İsteğe bağlı detay notları veya hatırlatmalar", "example": "Saat 15:00'te teklif detayları konuşulacak." },
                  "due_date": { "type": "string", "description": "Hedef zaman / son tarih", "example": "Bugün 15:00" },
                  "priority": { "type": "string", "description": "Öncelik (high, medium, low)", "example": "high" },
                  "category": { "type": "string", "description": "Kategori (meeting, ad_campaign, presentation, personal_note, general)", "example": "meeting" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Not/Görev çalışanın kişisel Yapılacaklar (To-Do List) sayfasına eklendi." }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "SocialArt GPT API Key"
      }
    }
  },
  "security": [
    { "ApiKeyAuth": [] }
  ]
}
