{
  "openapi": "3.0.0",
  "info": {
    "title": "Socialart Medya Ajans GPT Entegrasyonu",
    "description": "ChatGPT Custom GPT üzerinden Socialart Ajans CRM potansiyel müşterilerini analiz etme, not/güncelleme ekleme, takvime çekim/etkinlik planlama ve ekibe otomatik görev atama servisi.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://socialartmedya.com",
      "description": "Canlı Socialart Ajans Sunucusu"
    }
  ],
  "paths": {
    "/api/gpt/leads": {
      "get": {
        "summary": "CRM Potansiyel Müşterilerini (Leads) Getir ve Analiz Et",
        "description": "CRM veritabanındaki tüm aktif potansiyel müşterileri, aşamalarını (stage), atanan temsilcileri ve güncel durumlarını getirir. ChatGPT bu veriyi analiz ederek özet çıkarabilir.",
        "operationId": "getAgencyLeads",
        "responses": {
          "200": {
            "description": "Müşteri potansiyelleri ve aşama istatistikleri başarıyla döndü."
          }
        }
      }
    },
    "/api/gpt/lead-note": {
      "post": {
        "summary": "Müşteriye Not / Aşaması / Güncelleme Ekle",
        "description": "Müşterinin telefon görüşmesi, teklif durumu veya süreci hakkında not/güncelleme ekler. EĞER MÜŞTERİ ADI BELİRTİLMEDİYSE VEYA BİRDEN FAZLA EŞLEŞEN MÜŞTERİ VARSA CHATGPT KULLANICIYA HANGİ MÜŞTERİ OLDUĞUNU SORMAK ZORUNDADIR.",
        "operationId": "addLeadNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note"],
                "properties": {
                  "lead_name": {
                    "type": "string",
                    "description": "Not eklenecek müşterinin adı veya firma adı. (Örn: 'Murat', 'Durnas PDR'). Eğer zorunlu alan verilmediyse ChatGPT kullanıcıya hangi müşteri olduğunu sorar.",
                    "example": "Murat"
                  },
                  "lead_id": {
                    "type": "string",
                    "description": "Opsiyonel. Doğrudan müşteri ID'si (Örn: '203')."
                  },
                  "note": {
                    "type": "string",
                    "description": "Müşteri hakkındaki not, telefon görüşmesi özeti veya güncelleme metni. (ZORUNLU)",
                    "example": "Telefonu açmadı, yarın saat 14:00'da tekrar aranacak."
                  },
                  "stage": {
                    "type": "string",
                    "description": "Güncellenecek aşama (NEW, CONTACTED, WAITING, PROPOSAL_SENT, RETARGETING, WON, LOST)",
                    "example": "CONTACTED"
                  },
                  "status": {
                    "type": "string",
                    "description": "Güncellenecek durum metni (Örn: 'Sıcak', 'Görüşme Yapıldı', 'Teklif İletildi')",
                    "example": "Görüşme Yapıldı"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Not eklendi veya birden fazla müşteri eşleştiğinde liste döndü."
          }
        }
      }
    },
    "/api/gpt/calendar": {
      "post": {
        "summary": "Takvime Çekim / Etkinlik / Toplantı Ekle",
        "description": "Ajans takvimine yeni bir video çekimi, müşteri toplantısı veya lansman etkinliği ekler. EĞER MARKA ADI, TARİH VEYA SAAT EKSİKSE CHATGPT İŞLEMİ YAPMADAN KULLANICIYA EKSİK BİLGİLERİ SORMAK ZORUNDADIR.",
        "operationId": "addCalendarEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "brand_name", "date", "time"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Çekim veya etkinliğin kısa başlığı (ZORUNLU). Örn: 'Reel Çekimi'",
                    "example": "Reel Çekimi"
                  },
                  "brand_name": {
                    "type": "string",
                    "description": "Hangi marka/firma için yapılacağı (ZORUNLU). Örn: 'MioCasa', 'Mall Of Gurme'",
                    "example": "MioCasa"
                  },
                  "date": {
                    "type": "string",
                    "description": "Çekim tarihi (ZORUNLU). Örn: '12.08.2026' veya '2026-08-12'",
                    "example": "12.08.2026"
                  },
                  "time": {
                    "type": "string",
                    "description": "Çekim saati (ZORUNLU). Örn: '14:30'",
                    "example": "14:30"
                  },
                  "location": {
                    "type": "string",
                    "description": "Çekim adresi / stüdyo konumu",
                    "example": "MioCasa Bahçeşehir Mağazası"
                  },
                  "event_type": {
                    "type": "string",
                    "description": "Etkinlik türü (Video Çekimi, Fotoğraf Çekimi, Müşteri Toplantısı, Lansman)",
                    "example": "Video Çekimi"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Ekip için çekim notları veya ekipman gereksinimleri",
                    "example": "Işık ve 2 kameraman hazır bulunacak."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Takvime etkinlik eklendi."
          }
        }
      },
      "get": {
        "summary": "Takvim Etkinliklerini Getir",
        "description": "Ajansın yaklaşan çekimlerini ve toplantılarını listeler.",
        "operationId": "getCalendarEvents",
        "responses": {
          "200": {
            "description": "Etkinlikler getirildi."
          }
        }
      }
    },
    "/api/gpt/tasks": {
      "post": {
        "summary": "Ajans Personeline Yeni Görev Ata",
        "description": "Celal abi veya ajans yöneticisi ChatGPT üzerinden emir verdiğinde (Örn: Furkan'a görev ata: sunumları hallet, deadline: 12.08.2026), belirlenen personele otomatik görev oluşturur.",
        "operationId": "assignAgencyTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assignee", "title"],
                "properties": {
                  "assignee": {
                    "type": "string",
                    "description": "Görevin atanacağı personel (Furkan, Celal, Ercan, Simge, Tuğba)",
                    "example": "Furkan"
                  },
                  "title": {
                    "type": "string",
                    "description": "Görevin kısa başlığı veya özeti",
                    "example": "Sunumları hallet"
                  },
                  "description": {
                    "type": "string",
                    "description": "Görevin detaylı açıklaması veya yönergeler",
                    "example": "Ağustos ayı müşteri sunum dosyaları hazırlanacak."
                  },
                  "due_date": {
                    "type": "string",
                    "description": "Son teslim tarihi / deadline",
                    "example": "12.08.2026"
                  },
                  "priority": {
                    "type": "string",
                    "description": "Öncelik derecesi (Yüksek, Normal, Düşük)",
                    "example": "Yüksek"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Görev başarıyla eklendi."
          }
        }
      },
      "get": {
        "summary": "Aktif Görev Listesini Getir",
        "description": "Ajans personelinin üzerindeki tüm görevleri ve son durumlarını listeler.",
        "operationId": "getAgencyTasks",
        "responses": {
          "200": {
            "description": "Görevler başarıyla getirildi."
          }
        }
      }
    }
  }
}
